<launch>
  <include file="$(find deepbb_description)/launch/display.launch"/>

  <rosparam file="$(find deepbb_control)/cfg/deepbb_controller.yaml" command="load"/>

  <node name="deepbb_hw_main" pkg="deepbb_control" type="deepbb_hw_main" output="screen"/>

  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
  output="screen" args="spawn joint_state_controller"/>
</launch>
